{{ define "main" }}
<main class="min-h-screen">
  <section
    class="container flex flex-wrap flex-col mx-0 md:mx-auto p-0 md:p-4 mt-0 md:mt-5 max-w-screen-md"
  >
    {{ partial "breadcrumb.html" .}}

    <div class="drop-shadow-md">
      <div class="bg-primary text-white">
        <div class="p-6 md:p-10 mx-auto max-w-screen-xl">
          <div class="py-6">
            <h1
              class="max-w-2xl mb-4 text-2xl font-extrabold tracking-tight leading-none xl:text-4xl"
            >
              {{.Page.Title}}
            </h1>
            <h2 class="font-medium">{{.Params.Subtitle}}</h2>
          </div>
        </div>
      </div>

      <div
        class="p-6 md:p-10 w-full mx-auto max-w-screen-xl min-h-full bg-gray-50"
      >
        {{ range .Pages.ByPublishDate.Reverse }}
        <!-- published date-->
        <!---->
        {{ $dateFormat := .PublishDate.Format "January 2, 2006" }}
        <!-- card-->
        <a href="{{ .RelPermalink }}" class="hover:bg-slate">
          {{partial "cards/card.html" (dict "Title" .Title "Subtitle" ""
          "Content" .Summary "Date" $dateFormat)}} {{ end }}
        </a>
      </div>
    </div>
  </section>
</main>
{{ end }}
