{{ define "main" }}
<main class="min-h-screen">
  <section
    class="container flex flex-wrap flex-col mx-0 md:mx-auto p-0 md:p-4 drop-shadow-md mt-0 md:mt-5 max-w-screen-md"
  >
    <ol class="inline-flex items-center space-x-1 md:space-x-3 mt-6 mb-2">
      <li>
        <div class="flex items-center">
          <a
            href="{{.Page.Parent.RelPermalink}}"
            class="ml-1 text-sm font-medium text-gray-700 hover:text-gray-900 md:ml-2 dark:text-gray-400 dark:hover:text-white"
            >{{.Page.Parent.Title}}</a
          >
        </div>
      </li>
      <li>
        <div class="flex items-center">
          {{ partial "icon.html" "caret-right"}}
          <a
            href="{{.Page.RelPermalink}}"
            class="ml-1 text-sm font-medium text-gray-700 hover:text-gray-900 md:ml-2 dark:text-gray-400 dark:hover:text-white"
            >{{.Page.Title}}</a
          >
        </div>
      </li>
    </ol>
    <div>{{.Content}}</div>
  </section>
</main>

{{ end }}
