{{ define "main" }}
<div class="h-full single-default">
  <div class="single-default-header">
    <h1>{{.Title}}</h1>
    <h2>{{.Description}}</h2>
  </div>
  <article
    class="mx-auto flex flex-row flex-wrap justify-start lg:justify-center gap-8"
  >
    <section class="prose prose-base max-w-4xl p-4 md:p-8">
      {{.Content}}
      <div>
        <h2>Coming next</h2>
        {{with .PrevInSection}}
        <p>
          <a href="{{.Permalink}}" class="text-blue-500">{{.Title}}</a>
          : {{.Description}}
        </p>
        {{end}}
      </div>
    </section>
    <aside class="max-w-content my-4">
      <section class="prose prose-sm">
        {{ $related := .Site.Pages.Related . | first 5 }} {{ with $related }}
        <h2>See Also</h2>
        <ul>
          {{ range . }}
          <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
          {{ end }}
        </ul>
        {{end}}
      </section>
    </aside>
  </article>
</div>
{{ end }}
