{{ define "main" }}
<div class="h-full">
  <div class="text-center my-16">
    <h1 class="text-4xl font-bold text-primary my-4">{{.Title}}</h1>
    <h2 class="text-xl font-thin antialiased">{{.Description}}</h2>
  </div>
  <article class="prose prose-base max-w-4xl mx-auto mb-32">
    <div>{{.Content}}</div>
    <div>
      <h2>Whats Next?</h2>
      {{with .PrevInSection}}
      <p>
        <a href="{{.Permalink}}" class="text-blue-500">{{.Title}}</a>
        : {{.Description}}
      </p>
      {{end}}
    </div>
    <section>
      {{ $related := .Site.Pages.Related . | first 5 }} {{ with $related }}
      <h2>See Also</h2>
      <ul>
        {{ range . }}
        <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
        {{ end }}
      </ul>
      {{end}}
    </section>
  </article>
</div>
{{ end }}
