h2 {
  @apply font-bold text-xl my-4;
}

h3 {
  @apply font-medium my-4;
}

.weight-1 {
  @apply text-blue-500;
}

.weight-2 {
  @apply text-orange-500;
}

.weight-3 {
  @apply text-green-500;
}

.weight-4 {
  @apply text-amber-500;
}

@layer components {
  .card {
    @apply shadow-sm rounded-md p-4 w-full md:w-80 h-full flex  text-center;
  }
  .card .card-header {
    @apply font-medium text-xl;
  }
  .card .card-header .icon {
    @apply h-12 w-12 mx-auto;
  }
  .card .card-content {
    @apply flex-1 my-2;
  }
  .card .card-action {
    @apply mt-4;
  }

  .card-primary {
    @apply bg-primary text-white;
    -webkit-background-image: url(/images/card-dark.svg);
    background-image: url(/images/card-dark.svg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .card-primary .icon {
    @apply text-complimentary mx-auto;
  }
  .card-primary .card-action .btn {
    @apply rounded-full bg-complimentary text-white;
  }

  .card-default {
    -webkit-background-image: url(/images/card-default.svg);
    background-image: url(/images/card-default.svg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .card-default .card-action {
    @apply justify-center flex;
  }

  .card-tutorial {
    @apply grid grid-cols-[auto_1fr] gap-4 items-center hover:bg-slate-100 px-2;
  }
  .card-tutorial h3 {
    @apply m-0 font-medium text-blue-700 underline;
  }
  .card-tutorial .description {
    @apply text-sm text-gray-500;
  }
}

ul.tutorial {
  @apply flex-col;
}
