<ol class="inline-flex items-center space-x-1 md:space-x-2 mt-6 mb-2">
  {{ if .Page.Parent.IsHome}}
  <li>
    <div class="flex items-center">
      <a
        href="/"
        title="{{.Site.Title}} Home"
        class="text-sm font-medium text-gray-700 hover:text-gray-900 dark:text-gray-400 dark:hover:text-white"
        >Home</a
      >
    </div>
  </li>

  {{ else }}
  <li>
    <div class="flex items-center">
      <a
        href="{{.Page.Parent.RelPermalink}}"
        title="{{.Page.Parent.Title}}"
        class="text-sm font-medium text-gray-700 hover:text-gray-900 dark:text-gray-400 dark:hover:text-white"
        >{{.Page.Parent.Title}}</a
      >
    </div>
  </li>

  {{end}}

  <li>
    <div class="flex items-center">
      <span class="h-6 w-6"> {{ partial "svg.html" "caret-right"}}</span>
      <a
        href="{{.Page.RelPermalink}}"
        title="{{.Page.Title}}"
        class="text-sm font-medium text-gray-700 hover:text-gray-900 dark:text-gray-400 dark:hover:text-white"
        >{{.Page.LinkTitle}}</a
      >
    </div>
  </li>
</ol>
