<div class="bg-primary text-white">
  <footer class="footer p-10 w-[80%] mx-auto">
    <div>
      {{ range .Site.Params.Footer.sitemap.main }}
      <span class="footer-title">{{.Title}}</span>
      {{ range .item }}
      <a class="link link-hover" href="{{.URL}}">{{.Name}}</a>
      {{ end }} {{ end }}
    </div>
  </footer>
  <div style="background-color: rgba(0, 0, 0, 0.1)" class="text-secondary">
    <footer class="footer items-center p-10 w-[80%] mx-auto">
      <div class="items-center grid-flow-col">
        <div class="w-5 h-5 text-secondary">
          {{ partial "svg" .Site.Params.svg_logo }}
        </div>
        <p>Copyright © 2022 - All right reserved</p>
      </div>
      <div
        class="grid-flow-col gap-4 md:place-self-center md:justify-self-end fill-white"
      >
        {{ range .Site.Params.Footer.socialmedia }}
        <a href="{{.URL}}" target="_blank" alt="{{.Media}}">
          <div class="w-6 h-6">{{ partial "svg" .Icon }}</div>
        </a>
        {{end}}
      </div>
    </footer>
  </div>
</div>
