<footer class="p-4 sm:p-6 bg-gray-800">
  <div class="mx-auto max-w-screen-xl">
    <div class="md:flex md:justify-between">
      <div class="mb-6 md:mb-0">
        <a href="https://pixobe.com" class="flex items-center">
          <img src="/images/logo.svg" class="mr-3 h-8" alt="Pixobe Logo" />
          <span
            class="self-center text-2xl font-semibold whitespace-nowrap text-white uppercase"
            >{{.Site.Title}}</span
          >
        </a>
        {{ with .Site.Params.footer.service}}
        <p class="text-gray-300 mt-6 mb-6">{{.description}}</p>
        {{end}}
      </div>
      <div class="grid grid-cols-2 gap-8 sm:gap-6 sm:grid-cols-3">
        {{ range .Site.Params.Footer.sitemap.main }}
        <div>
          <h2 class="mb-6 text-sm font-semibold text-gray-400 uppercase">
            {{ .title }}
          </h2>
          <ul class="text-gray-300">
            {{ range .link }}
            <li class="mb-4">
              <a href="{{.url}}" class="hover:underline" target="_blank"
                >{{.name}}</a
              >
            </li>
            {{end}}
          </ul>
        </div>
        {{end}}
      </div>
    </div>
    <hr class="my-6 border-gray-200 sm:mx-auto lg:my-8" />
    <div
      class="py-6 px-4 sm:align-center md:flex md:items-center md:justify-between"
    >
      {{ with .Site.Params.footer.service}}
      <span class="text-sm text-gray-300 sm:text-center"
        >© 2022 <a href="{{.Site.BaseURL}}">{{.copyright}}</a>
      </span>
      {{end}}
      <div class="flex mt-4 space-x-6 sm:justify-center md:mt-0">
        {{ range .Site.Params.Footer.socialmedia.link }}
        <a href="#" class="text-gray-400 hover:text-white">
          {{with .media}} {{ partial "icon.html" .}} {{end}}
        </a>
        {{end}}
      </div>
    </div>
  </div>
</footer>
