<nav class="bg-primary-200 text-secondary-200">
  <div
    class="container flex flex-wrap justify-between items-center mx-auto p-4"
  >
    <a href="{{.Site.BaseURL}}" class="flex items-center">
      {{ $image := resources.Get "/images/logo.png" }}
      <!---->
      <img
        src="{{$image.Permalink}}"
        height="24px"
        width="24px"
        class="mx-1.5"
        alt="{{.Site.Title}} Logo"
      />
      <span class="self-center text-xl font-semibold whitespace-nowrap"
        >{{.Site.Title}}</span
      >
    </a>
    <div class="flex items-center md:order-2">
      <!-- Dropdown menu -->
      <button
        data-collapse-toggle="mobile-menu"
        type="button"
        class="inline-flex items-center p-2 ml-1 text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
        aria-controls="mobile-menu-2"
        aria-expanded="false"
      >
        <span class="sr-only">Open main menu</span>
        <span id="mobile-menu-open">{{ partial "icon.html" "breadcrumb"}}</span>
        <span class="hidden" id="mobile-menu-close">
          {{ partial "icon.html" "close"}}
        </span>
      </button>
    </div>
    <div
      class="hidden justify-between items-center w-full md:flex md:w-auto md:order-1"
      id="mobile-menu"
    >
      <ul
        role="list"
        class="flex flex-col mt-4 md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium list-none"
      >
        {{ $current := .Page}}
        <!--Iterate-->
        {{ range .Site.Menus.main }}
        <!-- check if current url is part of the section-->
        {{ $IsCurrent := or (eq .Identifier $current.Section) (eq
        $current.RelPermalink .URL)}}
        <li class="m-0">
          <a
            href="{{ .URL | relLangURL}}"
            class="block py-2 pr-4 pl-3 text-white bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:p-0 dark:text-white {{ if $IsCurrent }} text-primary-100  {{ end  }}"
            {{
            if
            $IsCurrent
            }}
            aria-current="page"
            {{end}}
            >{{.Name}}</a
          >
        </li>
        {{end}}
      </ul>
    </div>
  </div>
</nav>
