<div class="bg-primary text-white">
  <div class="navbar w-full lg:w-[80%] mx-auto">
    <div class="navbar-start">
      {{ $image_resource := resources.Get "/images/logo.png"}}
      <a
        class="flex text-[24px] uppercase h-6 gap-2 font-semibold"
        href="{{.Site.BaseURL}}"
      >
        {{ if $image_resource}}
        <img src="{{$image_resource.Permalink}}" height="24px" />
        {{end }} {{.Site.Title}}
      </a>
    </div>
    <div class="navbar-center hidden lg:flex">
      <ul class="flex flex-row gap-6 font-normal">
        {{ range .Site.Menus.main }}
        <li class="tracking-wider"><a href="">{{ .Name }}</a></li>
        {{ end }}
      </ul>
    </div>
    <div class="navbar-end"></div>
  </div>
</div>
