<nav class="bg-primary text-white">
  <div class="navbar w-full lg:w-[80%] mx-auto">
    <div class="navbar-start">
      {{ $image_resource := resources.Get "/images/logo.png"}}
      <a
        class="flex text-[24px] uppercase gap-2 font-semibold justify-center leading-[24px]"
        href="{{.Site.BaseURL}}"
        alt="Logo"
      >
        {{ if $image_resource}}
        <img src="{{$image_resource.Permalink}}" height="24px" class="h-6" />
        {{end }} {{.Site.Title}}
      </a>
    </div>
    <div class="navbar-center hidden lg:flex">
      <ul class="flex flex-row gap-6 font-normal">
        {{ $currentPage := .Page}}

        <!---->
        {{ range .Site.Menus.main }}
        <!---->
        {{ $isCurrentPage := eq $currentPage.RelPermalink .URL }}
        <!---->
        <li
          class="tracking-wider {{if $isCurrentPage}} text-secondary {{ end}} "
          {{
          if
          $isCurrentPage
          }}
          aria-current="page"
          {{end}}
        >
          <a href="{{ .URL | relLangURL}}">{{ .Name }}</a>
        </li>
        {{ end }}
        <!---->
      </ul>
    </div>
    <div class="navbar-end"></div>
  </div>
</nav>
