<form
  name="subscribers"
  method="POST"
  action="/thankyou"
  method="POST"
  data-netlify="true"
  class="flex justify-center"
>
  <div class="flex flex-row w-full lg:w-96">
    <input
      type="text"
      placeholder="Subscribe to our mailing list for latest updates."
      name="subscriber"
      class="p-2 box-border rounded-l-full h-[42px] w-full md:w-96 hover:outline-none focus:outline-none hover:border-accent border border-primary border-r-none"
    />
    <button
      type="submit"
      class="rounded-r-full bg-primary text-white h-[42px] w-[42px] p-2"
    >
      {{ partial "svg.html" "mail"}}
    </button>
  </div>
</form>
