{{ define "main" }}
<div>
  <section class="text-center md:text-left">
    <div
      class="grid justify-center max-w-screen-xl px-4 py-8 mx-auto lg:gap-8 xl:gap-0 lg:py-16 lg:grid-cols-12"
    >
      <div
        class="md:mr-auto place-self-center lg:col-span-7 text-center md:text-left"
      >
        <h1
          class="max-w-2xl mb-4 text-3xl font-extrabold tracking-tight leading-none md:text-5xl xl:text-6xl"
        >
          {{.Site.Params.home.title}}
        </h1>
        <p
          class="max-w-2xl mb-6 font-light text-gray-500 lg:mb-8 md:text-lg lg:text-xl"
        >
          {{.Site.Params.home.subtitle}}
        </p>

        {{if .Site.Params.home.primaryButton}}
        <a
          href="{{.Site.Params.home.primaryButtonUrl}}"
          class="btn btn-accent m-2"
        >
          {{.Site.Params.home.primaryButton}}
        </a>
        {{end}} {{if .Site.Params.home.secondaryButton}}
        <a
          href="{{.Site.Params.home.secondaryButtonUrl}}"
          class="btn btn-secondary m-2"
        >
          {{.Site.Params.home.secondaryButton}}
          <span class="h-6 w-6 ml-4"
            >{{ partial "svg.html" "arrow-right"}}</span
          >
          <!---->
        </a>
        {{end}}
      </div>
      <div class="mt-5 lg:mt-0 lg:col-span-5 lg:flex">
        {{with .Site.Params.home.heroImg}} {{ $image := resources.Get . }}
        <img src="{{$image.Permalink}}" alt="mockup" />
        {{end}}
        <!-- Instead of custom hero image above-->
        {{ partial .Params.hero_img}}
      </div>
    </div>
  </section>
  <!-- Content -->
  <div>{{.Content}}</div>
</div>
{{ end }}
