{{ define "main" }}
<div class="h-screen">
  <section class="text-center md:text-left">
    <div
      class="grid justify-center max-w-screen-xl px-4 py-8 mx-auto lg:gap-8 xl:gap-0 lg:py-16 lg:grid-cols-12"
    >
      <div
        class="md:mr-auto place-self-center lg:col-span-7 text-center md:text-left"
      >
        <h1
          class="max-w-2xl mb-4 text-4xl font-extrabold tracking-tight leading-none md:text-5xl xl:text-6xl"
        >
          {{.Site.Params.home.subtitle}}
        </h1>
        <p
          class="max-w-2xl mb-6 font-light text-gray-500 lg:mb-8 md:text-lg lg:text-xl"
        >
          {{.Site.Params.home.caption}}
        </p>

        {{if .Site.Params.home.primaryButton}}
        <a
          href="{{.Site.Params.home.primaryButtonUrl}}"
          class="inline-flex items-center justify-center px-5 py-3 mr-3 text-base font-medium text-center text-font-200 rounded-lg bg-accent hover:bg-primary-200 focus:ring-4 focus:ring-primary-300"
        >
          {{.Site.Params.home.primaryButton}}
        </a>
        {{end}} {{if .Site.Params.home.secondaryButton}}
        <a
          href="{{.Site.Params.home.secondaryButtonUrl}}"
          class="inline-flex items-center justify-center px-5 py-3 text-base font-medium text-center text-primary-900 border border-gray-300 rounded-lg"
        >
          {{.Site.Params.home.secondaryButton}} {{ partial "icon.html"
          "arrow-right"}}
        </a>
        {{end}}
      </div>
      <div class="mt-5 lg:mt-0 lg:col-span-5 lg:flex">
        {{with .Site.Params.home.heroImg}} {{ $image := resources.Get . }}
        <img src="{{$image.Permalink}}" alt="mockup" />
        {{end}}
        <!-- Instead of custom hero image above-->
        {{- block "custom-heroimg" . }}{{- end }}
      </div>
    </div>
  </section>
</div>
{{ end }}
