{{ define "main" }}
<div class="hero min-h-screen bg-primary text-white">
  <div
    class="hero-content flex flex-col-reverse md:flex-row w-full lg:w-[80%] justify-between gap-8"
  >
    <div>
      <h1 class="text-[40px] md:!leading-normal font-bold">
        {{.Site.Params.Hero.Title}}
      </h1>
      <p class="py-6 text-2xl !leading-normal">{{.Site.Params.Hero.Caption}}</p>
      <button class="btn btn-accent">Get Started</button>
    </div>
    {{ with .Site.Params.Hero.Image}}
    <img src="{{.}}" width="500px" />
    {{ end }}
  </div>
</div>
<div>{{.Content}}</div>
{{ end }}
