<div class="flex flex-col justify-between md:flex-row">
  <div class="flex flex-col md:inline-flex md:flex-row flex-wrap gap-2">
    <div class="w-32">
      <img
        src='{{.Get "imageSrc"}}'
        alt='{{.Get "title"}} Logo'
        class="object-cover rounded"
      />
    </div>
    <div>
      <h3
        class="mb-2 text-2xl font-bold tracking-tight text-gray-900 uppercase"
      >
        {{.Get "title"}}
      </h3>
      <h4 class="text-gray-500">{{.Get "caption"}}</h4>
    </div>
  </div>
  <div class="w-full md:w-1/3">
    <p>{{ .Inner }}</p>
    <a
      class="inline-flex my-5 justify-center items-center py-3 px-5 text-base font-medium text-center bg-primary text-light rounded border border-gray-300 hover:bg-primary-800 focus:ring-4 focus:ring-gray-100"
      href='{{.Get "url"}}'
      target="_blank"
      >{{.Get "btnLabel"}}</a
    >
  </div>
</div>
