<form name="contact" method="POST" data-netlify="true">
  <div class="grid grid-flow-col mx-auto justify-center">
    <input
      type="text"
      placeholder="Subscribe to our mailing list"
      class="rounded-l-full h-[42px] w-96 px-2 hover:outline-none focus:outline-none hover:border-accent border border-primary border-r-none"
    />
    <button
      type="submit"
      class="rounded-r-full bg-primary text-white h-[42px] w-[42px] p-2"
    >
      {{ partial "svg.html" "mail"}}
    </button>
  </div>
</form>
