{{ $product := index .Page.Params (.Get 0) }}
<section class="prose-lg bg-slate-50 p-6 text-neutral p-[50px]" id="{{ (.Get 0)}}">
  <div class="grid grid-cols-1 md:grid-cols-section-2 gap-8">
    <div>
      {{ with $product}}
      <!---->
      <h2 class="text-4xl font-bold uppercase mt-0">{{$product.Title}}</h2>
      <p class="font-normal">{{$product.Description}}</p>
      <div>
        {{ range $product.Features}}
        <div class="flex flex-row items-center gap-2">
          <div class="w-5 h-5">{{ partial "svg" "check" }}</div>
          {{.}}
        </div>
        {{ end }}
      </div>
      {{ end}}
    </div>
    <!--inner content-->
    <div>{{.Inner}}</div>
  </div>
</section>