<!-- This is used for list page of top level menu for eg Wordpres-->
<section class="w-full md:w-[80%] mx-auto flex flex-wrap justify-center">
  {{ range .Page.Params.Section4.Cards }}
  <div
    class="flex flex-col m-4 justify-center items-center gap-5 p-8 rounded-md bg-primary text-white w-full md:w-[400px] text-center"
  >
    <div class="h-12 w-12 text-red-500">{{ partial "svg" .Icon }}</div>
    <h2 class="font-medium !text-xl">{{.Title}}</h2>
    <p class="text-gray-300">{{.Description}}</p>
    <a
      class="bg-red-500 text-white p-3 rounded-full font-semibold"
      href="{{.cta_url}}"
      target="_blank"
    >
      {{.cta_label}}
    </a>
  </div>
  {{ end}}
</section>
